.adm-popover-inner{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid;
}
.adm-popover-menu-item{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    position: relative;
}
.adm-plain-anchor{
    color: inherit;
    transition: none;
}
.adm-popover-menu-item-text{
    flex: auto;
    padding: 14px 20px 14px 0;
}
