@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.adm-popover-inner{
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid;
}
.adm-popover-menu-item{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  position: relative;
}
.adm-plain-anchor{
  color: inherit;
  transition: none;
}
.adm-popover-menu-item-text{
  flex: auto;
  padding: 14px 20px 14px 0;
}
html{
  height: 100vh;
  overflow: hidden;
}
.codeViewContainer{
  padding: 10px;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}
.codeView{
  padding: 0 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 0;
  position: relative;
}
.codeView .chat-icon{
  position: absolute;
  right:30px;
  top: 50%;
  font-size: 25px;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}
.codeExplainText{
  /*background-color: azure;*/
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  /*height: 600px;*/
  box-sizing: border-box;
  overflow: auto;
  flex:1;
}
.codeSvg{
  background-color: black;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  padding-left: 40px;
}
.codeSvg .loading{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.4);
}
.codeSvg .graphviz{
  flex:1;
  height: 0;
}
.codeSvg .graphviz >svg{
  max-height: 100%;
  max-width: 100%;
}
.codeSvg .controlIcons{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}
.codeSvg .controlPanel{
  position: absolute;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.codeSvg i.bi{
  color: aquamarine;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.codeSvg i.bi:last-child{
  margin-right: 0;
}


.chatContainer .chatbox {
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(119 119 119 / 50%);
  /*border: 1px solid;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.chatContainer .middle{
  flex: 1;
  overflow: auto;
  height: 0;
}
.chatContainer .top-bar{
  background: #F9FBFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chatContainer {
  /*padding: 0 10px;*/
  height: 100%;
  box-sizing: border-box;
}

.chatContainer .talking-item{
  display: flex;
  margin-bottom: 20px;
  padding: 8px 13px;
  border-radius: 5px;
}
.chatContainer .talking-avatar{
  margin-right: 10px;
}
.chatContainer .talking-item:first-child{
  margin-top: 20px;
}

.chatContainer .talking-item.human{
  justify-content: flex-end;
  padding: 0;
}
.chatContainer .talking-item.ai{
  background-color: white;
  display: inline-flex;
  align-items: center;
}
.chatContainer .talking-item .bubble{
  box-sizing: border-box;
  max-width: 100%;
}
.chatContainer .talking-item.human .bubble{
  background-color: #07C160;
  padding: 8px 13px;
}
.chatContainer .talking-item.ai .bubble{
  flex: 1;
}

.chatContainer .textareaContainer{
  display: flex;
}
.chatContainer .textareaContainer .cancel{
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: #F9FBFF;
}
.chatContainer .textareaContainer textarea{
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  resize: none;
  /*border: 1px solid;*/
  /*outline: 1px solid orange;*/
  /*border: none;*/
  outline: none;
  background-color: white;
  flex:1;
}
.codebox-handler {
  --tw-text-opacity: 1;
  color: rgba(217, 217, 227, var(--tw-text-opacity));
  padding: 0 10px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  line-height: 32px;

}
.entryFuncList .entryFuncItem{
  display: flex;
}
.entryFuncList .entryFuncItem > div{
  cursor: pointer;
  position: relative;
}
.entryFuncList .entryFuncItem.active > div::after{
  content: " ";
  position: absolute;
  left:0;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: rgba(0,0,0,.3);
}
g.node{
  cursor: pointer;
}
.adm-popover-menu-item{
  cursor: pointer;
  padding-left: 10px;
}
.adm-popover-menu-item-text{
  padding: 7px 10px 7px 0;
  font-size: 14px;
}
.libFiles{
  margin-top: 20px;
}
.libInput{
  display: flex;
  align-items: center;
}
.libInput .MuiAutocomplete-root{
  flex: 1;
  margin-right: 10px;
}
.libInput >svg{
  width: auto !important;
  cursor: pointer;
}

.libFiles .confirmBtn{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

dl {
  padding: 0;
  margin: 0;
}

dt {
  font-weight: 600;
  margin-top: 1em;
}

dd {
  margin-left: 2em;
}
.myInlineDecoration {
  background-color: yellow;
}
.MuiPaper-root{
  width: 25%;
}
